node_modules/
/dist
/build
/out
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
pm-debug.log*
yarn-debug.log*
yarn-error.log*
logs
*.log
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln